<form (submit)="submitGuess(GuessType.GUESS)">
  <div class="form-group mb-2">
    <input
      id="guessInput"
      type="text"
      [field]="guessForm.currentGuess"
      class="form-control"
      placeholder="Enter song"
      [ngbTypeahead]="search"
    />
    @if (guessForm.currentGuess().touched()) {
      @for (error of guessForm.currentGuess().errors(); track error.kind) {
        <div class="invalid-feedback ms-3 d-block">
          <p>{{ error.message }}</p>
        </div>
      }
    }
  </div>
  <div class="mb-2">
    <div class="row">
      <div class="col text-center">
        <button type="button" class="btn btn-secondary p-2 m-3 w-50" (click)="submitGuess(GuessType.SKIP)">Skip</button>
      </div>
      <div class="col text-center">
        <button
          type="type"
          class="btn btn-success p-2 m-3 w-50"
          [disabled]="guessForm.currentGuess().invalid()"
          (click)="submitGuess(GuessType.GUESS)"
        >
          Guess
        </button>
      </div>
    </div>
  </div>
</form>
